@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    display: flex;
    list-style-type: none;

 
}
.box {

    display: flex;
    flex-direction: column;
}
.box_input {
    background-color: brown;
    display: flex;
    justify-content: space-around;
}
.input_dados {
    display: flex;
    justify-content: space-between;
}